<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AboutMe</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
     <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <div class="container">
        <%- include('navbar') %>
    </div>
    <div class="homeScreen">
			<img class="homeScreenPhoto" src=mayapic.jpg>
			<p>
				<h3 class="hometext">
					I am currently a senior at Lehman College striving to enter the technology sector by obtaining a full time job. I have a particular passion for data science and software development
						,and would love an opportunity to further pursue them .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis interdum lorem, dapibus aliquet dolor. Donec augue tortor, consequat vitae ex id, porta venenatis odio. Etiam elementum ex vestibulum, consectetur diam efficitur, tincidunt massa. Etiam et justo eget quam vehicula scelerisque quis in ipsum. Ut dignissim ultrices venenatis. Nulla accumsan, ex eget eleifend hendrerit, purus nunc pulvinar est, eu fringilla neque quam eu enim. Aenean vel turpis efficitur, elementum nisl sit amet, gravida lectus. Maecenas fermentum vel enim vel posuere.
						Etiam ligula purus, sagittis non lacinia ac, sodales sed sapien. Curabitur ornare dui ac ultricies consectetur. Proin bibendum lectus sed nisi fermentum, sit amet tempus ipsum consequat. Sed molestie commodo egestas. Mauris non arcu velit. Phasellus et magna mattis, condimentum est ut, ultrices nisl. Nullam sagittis sollicitudin sodales. Nunc nec nisl justo. Quisque pretium orci velit, eget varius purus aliquet eu. Fusce eget ligula quis eros sollicitudin tempor. Fusce in nibh a odio feugiat vulputate. Nulla facilisi. Suspendisse non pretium dui. Ut condimentum
				</h3>
			</p>
		</div>
  </body>
</html>
